<ion-app>
  <ion-menu contentId="main-content" menuId="first" side="end">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="closeMenu()" routerLink="/books" routerDirection="root">
          <ion-icon name="home-outline"></ion-icon>&nbsp; Home
        </ion-item>
        <ion-item (click)="closeMenu()" routerLink="/my-book-list" routerDirection="root">
          <ion-icon name="book-outline"></ion-icon>&nbsp; My Books
        </ion-item>
        <ion-item (click)="closeMenu()" routerLink="/waiting-list" routerDirection="root">
          <ion-icon name="heart-outline"></ion-icon>&nbsp; My Waiting List
        </ion-item>
        <ion-item (click)="closeMenu()" routerLink="/returned-book-list" routerDirection="root">
          <ion-icon name="caret-back-outline"></ion-icon>&nbsp; My Returned Books
        </ion-item>
        <ion-item (click)="closeMenu()" routerLink="/borrowed-book-list" routerDirection="root">
          <ion-icon name="pricetag-outline"></ion-icon>&nbsp; Borrowed Books
        </ion-item>
        <ion-item (click)="closeMenu()" routerLink="/notifications" routerDirection="root">
          <ion-icon name="notifications-circle-outline"></ion-icon>&nbsp; Notifications
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>

