<div class="container" *ngIf="isSubmitted else codeForm">
  <div class="activate-message" *ngIf="isOkay else activationError">
    <h2>Activation successful !</h2>
    <p> your account has been successfully activated</p>
    <button class="btn btn-primary" (click)="redirectToLogin()">Login</button>
  </div>
  <ng-template #activationError>
    <div class="activate-error" >
      <h2>Activation failed !</h2>
      <p> {{message}}</p>
      <button class="btn btn-primary" (click)="isSubmitted=false">try again</button>
    </div>

  </ng-template>
</div>
  <ng-template #codeForm>
    <div class="container">
      <div class="text-center" style="width: 400px;">
        <h2>Check your Email <br> type your activation code here</h2>
        <code-input [isCodeHidden]="false"
                    [codeLength]="6"
                    [code]="'number'"
                    (codeCompleted)="onCodeCompleted($event)"></code-input>
      </div>
    </div>
  </ng-template>


